.container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
.sender {
  display: flex;
  /* width: 100%; */
  width: -9vw;
  flex-direction: row-reverse;
  /* background-color: rgb(165, 124, 203); */
  color: black;
  padding: 1.2rem;
  padding-right: 30px;
  margin: 10px 20px 10px 10px;
  border-radius: 25%;
}
.reciever {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  /* background-color: rgb(116, 107, 123); */
  color: black;
  padding: 1.2rem;
  padding-right: 30px;
  margin: 10px 20px 10px 10px;
  border-radius: 25%;
}
.chatbox {
  width: 100vw;
  bottom: 2px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.mic {
  margin-top: 1rem;
}
.chatbox input {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  border: 1.2px solid black;
  margin: 5px;
  margin-top: 1.1rem;
  padding: 0.4rem;
  width: 89vw;
}
.signin {
  display: flex;
  height: 30vh;
  margin-top: 20vh;
  width: 100vw;
  /* flex-direction: row-reverse; */
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  font-size: 2rem;
}
.chats {
  height: 86vh;
  overflow-y: scroll;
}
.title {
  font-size: x-large;
  font-weight: 800;
}
.text {
  display: block;
  border-radius: 12%;
  border: 2px solid black;
  width: auto;
  padding: 2rem;
  background-color: burlywood;
  /* background-color: #b4bdff; */
}
/* select {
  background-color: burlywood;
} */
.sender .text {
  background-color: rgb(237, 185, 117);
  background-color: #f8bdeb;
  background-color: #83a2ff;
  /* background-color: #435585; */
}
.sender select {
  background-color: #83a2ff;
}
.reciever select {
  background-color: burlywood;
}
.head h1 {
  font-size: larger;
}
